
@{
    ViewBag.Title = "會計科目設定";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
        <style>
            /*#region container_ToolBar style*/
            .header-toolbar {
                overflow: auto;
                font-size: 0.9em;
                padding: 1px 15px 1px 3px;
                width: 100%;
                background-color: #cfcfcf;
                margin: 0;
                border: 1px solid gray;
            }
            .header-toolbar .easyui-linkbutton {
                    width: 50px;
                    height: 52px;
                    font-size: 0.9em;
                    font-weight: bold;
                    margin: 0px;
                    padding: 0px;
            }
            .header-toolbar .linkbtn2 {
                width: 45px;
            }
            .header-toolbar .linkbtn4 {
                width: 70px;
            }
            .header-toolbar .l-btn-text {
                font-size: 12px !important;
                margin-top: 28px !important;
            }
            .header-toolbar .l-btn-icon {
                width: 24px !important;
                height: 24px !important;
                left: 60% !important;
            }
            .separatorbar {
                margin-right: 50px;
            }
            /*#endregion*/
            
            /*#region container_body style*/
            #body-container {
                width: 100%;
                height: calc(100vh - 130px);
                background-color: #d0d0d0;
                margin: 0px;
                padding: 0px;
                font-size: 1.0em;
                overflow: hidden;
            }

            .body-layout {
                height: calc(100vh - 130px);
                width: 100%;
            }
            /*#endregion*/

            /*#region datagrid style*/
            .datagrid {
                border: 2px solid white; /* 默認顏色 */
            }
            .datagrid-header-row td {
                background-color: #d2d2d2;
                color: #333;
                font-weight: bold;
                border: 1px solid black !important;
            }
            .datagrid-header, .datagrid-td-rownumber {
                background-color: #fff !important;
                background: none;
                background-repeat: no-repeat;
            }
            .datagrid-cell-rownumber {
                color: black !important;
            }
            .datagrid-row .datagrid-cell {
                margin: 0px !important;
                padding: 0px !important;                
            }
            .datagrid-row td { 
                border: 1px solid black !important;
            }
            

            /*#endregion */
        </style>
}

@{ Html.RenderAction("_ToolBarPartial"); }

<div class="body-container">  
    <div class="easyui-layout body-layout">
        <div data-options="region:'west',collapsible:false" title="會計大類" style="width:15%;">
            <table id="maindg" class="datagrid easyui-maindg" style="width:100%;height:99%;">
            </table>
        </div>
        <div data-options="region:'center'" title="會計分類" style="width:30%;">
            <table id="itemdg" class="datagrid easyui-itemdg" style="width:100%;height:99%;">
            </table>
        </div>
        <div data-options="region:'east',collapsible:false" title="會計科目" style="width:55%;">
            <table id="subdg" class="datagrid easyui-subdg" style="width:100%;height:99%;">
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        ///-----基本參數-----///
        //#region 基本參數
        var controllerurl = '/AccCode', functionurl = "/", actionurl = "";
        var maindg = $('#maindg'),itemdg = $('#itemdg'),subdg = $('#subdg');   
        var focusdg = { datagrid: null, dgindex: null }, prefocusdg = null;
        var actioncode = 'view';
        //#endregion
        //#region 多語系
        var maindglang = {
            AccGroupNo: '@Resources.Content.AccGroupNo',
            AccGroupNameC: '@Resources.Content.AccGroupNameC',
        };
        var itemdglang = {
            AccNoBy:'@Resources.Content.AccNoBy',
            AccNoByNameC:'@Resources.Content.AccNoByNameC',
            DCTypeNo:'@Resources.Content.DCTypeNo',
            DCTypeNameC:'@Resources.Content.DCTypeNameC',
            AccNoType:'@Resources.Content.AccNoType',
        };
        var subdglang = {
            AccNo:'@Resources.Content.AccNo',
            AccNameC:'@Resources.Content.AccNameC',
            DCTypeNo:'@Resources.Content.DCTypeNo',
            DCTypeNameC:'@Resources.Content.DCTypeNameC',
            AccCode:'@Resources.Content.AccCode',
            IsControl:'@Resources.Content.IsControl',
        };
        //#endregion
        //#region 資料暫存
        var obj = { name: 'objname', data: null };
        //#endregion
        //----初始化----------///

        $(function () {
            subdgSet();  //右側列表欄位
            itemdgSet();    //中間列表欄位
            maindgSet();    //左側列表欄位
            maindgdata();
        });

        //#region dg設定與填值
        function maindgSet() {
            maindg.datagrid({
                singleSelect: true,
                columns: [[
                    { field: 'Id', title: 'Id', hidden: true },
                    { field: 'AccGroupNo', title: maindglang.AccGroupNo, width: 70 },
                    { field: 'AccGroupNameC', title: maindglang.AccGroupNameC, width: 100 }
                ]],
                onSelect: function (index, row) {
                    focusDgSet(maindg);
                    focusdg.datagrid = maindg;
                    focusdg.dgindex = index;
                    itemdgdata(row.Id);
                    subdg.datagrid('loadData', '');
                }
            });
        }
        function maindgdata() {
           actionurl = defaultUrl + controllerurl + functionurl + 'GetAccCode1';            
            doajax("GET", actionurl, null, function (data) {
                if (data == "C0003") {
                    $.messager.alert('alert', '無會計大類資料!');
                    maindg.datagrid('loadData', '');
                    console.log("C0003: Not Found");
                } else {
                    maindg.datagrid('loadData', data);
                }
            });
        }
        function itemdgSet() {
            itemdg.datagrid({
                singleSelect: true,
                columns: [[
                    { field: 'Id', title: 'Id', hidden: true },
                    { field: 'AccNoBy', title: itemdglang.AccNoBy, width: 70 },
                    { field: 'AccNoByNameC', title: itemdglang.AccNoByNameC, width: 100 },
                    { field: 'DCTypeNo', title: itemdglang.DCTypeNo, width: 50 },
                    { field: 'DCTypeNameC', title: itemdglang.DCTypeNameC, width: 50 },
                    { field: 'AccNoType', title: itemdglang.AccNoType, width: 100 }
                ]],
                onSelect: function (index, row) {
                    focusDgSet(itemdg);
                    focusdg.datagrid = itemdg;
                    focusdg.dgindex = index;
                    subdgdata(row.Id);
                }
            });
        }
        function itemdgdata(docid) {
            if (docid != null) {
                actionurl = defaultUrl + controllerurl + functionurl + 'GetAccCode2?docid=' + docid;
                doajax("GET", actionurl, null, function (data) {
                    if (data == "C0003") {
                        $.messager.alert('alert', '無會計分類資料!');
                        itemdg.datagrid('loadData', '');
                        console.log("C0003: Not Found");
                    } else {
                        itemdg.datagrid('loadData', data);
                    }
                });
            }
        }
        function subdgSet() {
            subdg.datagrid({
                singleSelect: true,
                columns: [[
                    { field: 'Id', title: 'Id', hidden: true },
                    { field: 'AccNo', title: subdglang.AccNo, width: 100 },
                    { field: 'AccNameC', title: subdglang.AccNameC, width: 100 },
                    { field: 'DCTypeNo', title: subdglang.DCTypeNo, width: 100 },
                    { field: 'DCTypeNameC', title: subdglang.DCTypeNameC, width: 100 },
                    { field: 'AccCode', title: subdglang.AccCode, width: 100, formatter: formatCheckbox },
                    { field: 'IsControl', title: subdglang.IsControl, width: 100, formatter: formatCheckbox },
                    { field: 'Status', title: '狀態', hidden: true }
                ]],
                rowStyler: function (index, row) {
                    if (row.Status == 1) {
                        return 'background-color: #f2f2f2 !important ;'; // 背景顏色設為灰色
                    }
                },
                onSelect: function (index, row) {
                    focusDgSet(subdg);
                    focusdg.datagrid = subdg;
                    focusdg.dgindex = index;
                }
            });
        }
        function subdgdata(accnobyid) {
            if (accnobyid != null) {
                actionurl = defaultUrl + controllerurl + functionurl + 'GetAccTitleNo?accnobyid=' + accnobyid;
                doajax("GET", actionurl, null, function (data) {
                    if (data == "C0003") {
                        $.messager.alert('alert', '無會計科目資料!');
                        subdg.datagrid('loadData', '');
                        console.log("C0003: Not Found");
                    } else {
                        subdg.datagrid('loadData', data);
                    }
                });
            }
            else {
                subdg.datagrid('loadData', '');
            }
        }
        //#endregion

        //#region 按鈕動作
        function btnClick(type) {
            if (!focusdg.datagrid) {
                console.warn("No datagrid is currently focused.");
                return;
            }
            let dodg = focusdg.datagrid;
            let doindex = focusdg.dgindex;
            switch (type) {
                //#region toolbar_focusdg導覽&搜尋
                case 'first':
                    dodg.datagrid('selectRow', 0);
                    break;
                case 'previous':
                    row = dodg.datagrid('getSelected');
                    if (row) {
                        nowindex = dodg.datagrid('getRowIndex', row);
                    } else if (doindex >= 0) {
                        nowindex = doindex;
                    } else {
                        let rows = dodg.datagrid('getRows');
                        if (rows) {
                            nowindex = 0;
                        }
                    }
                    dodg.datagrid('selectRow', nowindex - 1);
                    break;
                case 'next':
                    row = dodg.datagrid('getSelected');
                    if (row) {
                        nowindex = dodg.datagrid('getRowIndex', row);
                    } else if (doindex >= 0) {
                        nowindex = doindex;
                    } else {
                        let rows = dodg.datagrid('getRows');
                        if (rows) {
                            nowindex = -1;
                        }
                    }
                    dodg.datagrid('selectRow', nowindex + 1);
                    break;
                case 'last':
                    row = dodg.datagrid('getRows');
                    if (row) {
                        index = row.length;
                    }
                    dodg.datagrid('selectRow', index - 1);
                    break;
                case 'search':
                    break;
                //#endregion
                //#region focusdg資料動作
                case 'search':
                    break;
                case 'add':
                    actioncode = 'add';

                    break;
                case 'edit':
                    actioncode = 'edit';
                    break;
                case 'save':
                    if (actioncode === 'edit' || actioncode === 'add') {

                    } else {
                        $.messager.alert('alert', '操作碼錯誤' );                        
                    }
                    break;
                case 'refresh':
                    break;
                case 'cancel':
                    break;
                case 'delete':
                    break;
                //#endregion
            }
        }
        //#endregion

        //#region 功能函式
        // 自定義doajax
        function doajax(type, url, data, successCallback, errorCallback) {
            $.ajax({
                type: type,
                url: url,
                data: data,
                success: function (response) {
                    if (typeof successCallback === 'function') {
                        successCallback(response);
                    }
                },
                error: function (xhr, status, errorThrown) {
                    if (typeof errorCallback === 'function') {
                        errorCallback(xhr, status, errorThrown);
                    }
                }
            });
        }

        // 自定義 checkbox 顯示格式
        function formatCheckbox(value, row, index) {
            return '<input type="checkbox" ' + (value ? 'checked' : '') + ' disabled>';
        }

        // dg鎖定外框效果
        function focusDgSet(datagrid) {
            if (prefocusdg) {
                prefocusdg.datagrid('getPanel').css({
                    'border-color': 'white',
                    'border-width': '0px',
                    'border-style': 'solid'
                });
            }
            // 設置選定的數據表格的背景顏色為黃色，其他數據表格的背景顏色為白色
            datagrid.datagrid('getPanel').css({
                'border-color': 'yellow',
                'border-width': '5px',
                'border-style': 'solid'
            });

            prefocusdg = datagrid;
        }

        //#endregion
    </script>
}