@{
    ViewBag.Title = @Resources.Content.VoucherClose;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link rel="stylesheet" type="text/css" href="~/Scripts/mycss/body_container_erp.css" />
    <style>
        #body-content {
            padding: 0px;
            margin: 0px;
            background: white;
            height: 100%;
        }

        /*#region Body style*/


        #content-tabs {
            padding-bottom: 10px;
        }

        /*#endregion*/

        /*#region easyui style*/
        .textbox-readonly .textbox-text {
            background: #EEEEEE;
        }

        .ischecked-row:not(.datagrid-row-over,.datagrid-row-checked,.datagrid-row-selected) {
            background-color: #fdff47;
            color: black;
            cursor: default;
        }

        /*.yellow-row:not(.datagrid-row-over,.datagrid-row-checked,.datagrid-row-selected) {
            background-color: #a2f8f8;
            color: black;
            cursor: default;
        }*/

        .gray-row:not(.datagrid-row-over,.datagrid-row-checked,.datagrid-row-selected) {
            background-color: #fa806f;
            color: black;
            cursor: default;
        }

        .close-row:not(.datagrid-row-over,.datagrid-row-checked,.datagrid-row-selected) {
            background-color: #6df757;
            color: black;
            cursor: default;
        }

        .cancel-row:not(.datagrid-row-over,.datagrid-row-checked,.datagrid-row-selected) {
            background-color: #e196fb;
            color: black;
            cursor: default;
        }

        .error-row:not(.datagrid-row-over,.datagrid-row-checked,.datagrid-row-selected) {
            background-color: #fdff47;
            color: black;
            cursor: default;
        }

        .datagrid-row-selected div {
            color: white;
        }

        .datagrid-row-editing td {
            color: black;
        }

        .header-toolbar .easyui-linkbutton {
            width: 50px;
            height: 52px;
            font-size: 0.9em;
            font-weight: bold;
            margin: 0px;
            padding: 0px;
        }

        .header-toolbar .linkbtn2 {
            width: 60px;
        }

        .header-toolbar .linkbtn3 {
            width: 95px;
        }

        .header-toolbar .l-btn-text {
            font-size: 12px !important;
            margin-top: 28px !important;
        }

        .header-toolbar .l-btn-icon {
            width: 24px !important;
            height: 24px !important;
            left: 60% !important;
        }

        .separatorbar {
            margin-right: 20px;
        }

        .tabs-wrap .tabs {
            width: 99% !important;
        }

        .switchbtn {
            text-decoration: none;
            display: inline-block;
            overflow: hidden;
            vertical-align: middle;
            margin: 5px 10px 0px 0px;
            padding: 3px;
            cursor: pointer;
            border: 1px solid #bbb;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
        }

            .switchbtn label {
                margin-left: 3px;
            }

        .btnliktype .l-btn-text {
            margin-left: 15px;
            font-size: 12px !important;
        }
        /*#endregion*/
        /*#region datagrid style*/

        .datagrid-view tr, .datagrid-view td {
            border: 1px solid black;
        }

        .datagrid-header-row td {
            background-color: #d2d2d2;
            color: #333;
            font-weight: bold;
            border: 1px solid black !important;
        }

        .datagrid-header, .datagrid-td-rownumber {
            background-color: #fff !important;
            background: none;
            background-repeat: no-repeat;
        }


        .datagrid-cell-rownumber {
            color: black !important;
        }

        .datagrid-row .datagrid-cell {
            margin: 0px !important;
            padding: 0px !important;
        }

        .subtd {
            width: 100% !important;
            height: 100% !important;
            margin: 0px !important;
            padding: 1px !important;
            border: 1px solid black !important;
            min-height: 22px;
        }
        /*#endregion */
        /*#region table style*/
        /* 初始表格外框顏色 */
        .datagrid {
            border: 2px solid white; /* 默認顏色 */
        }

        .container-table {
            width: 99%;
            margin: 0px 20px 0px 2px;
            padding: 0px;
            table-layout: fixed;
            word-break: break-all;
        }

            .container-table .table-header {
                background-color: #95B3D7;
                border: solid 1px black;
            }

            .container-table th, .container-table tr, .container-table tr td {
                /*border: none;*/
                border: solid 1px black !important;
                text-align: center;
            }

            .container-table th, .container-table tr, .container-table td {
                height: 32px !important;
                margin: 0px !important;
                padding: 0px !important;
            }

                .container-table tr td {
                    font-size: 1.0em;
                    vertical-align: middle !important;
                    font-weight: bold;
                }

            .container-table th {
                font-size: 1.0em;
                vertical-align: middle !important;
            }

        tr td label {
            margin: 0px !important;
            padding: 0px !important;
        }
        /*#endregion*/
        /*#region row style*/
        .row-fix {
            margin-left: 0px !important;
        }

        .row-filestyle {
            margin-top: 5px;
            margin-left: 3px;
            margin-bottom: 5px;
            border-bottom: 1px solid black;
            padding: 3px;
        }

        .col-fix-1, .col-fix-2, .col-fix-3 {
            padding: 0px;
            margin-right: 0px;
        }

            .col-fix-1 > span {
                margin-left: 35px;
            }

            .col-fix-1 input[type="text"], .col-fix-1 .form-control,
            .col-fix-1 .easyui-combobox,
            .col-fix-1 .easyui-textbox:not(.col-fix-lg),
            .col-fix-1 .easyui-datebox, .col-fix-1 .easyui-maskedbox {
                width: 120px !important;
            }


            .col-fix-2 input[type="text"]:not(.textbox-text), .col-fix-2 .form-control,
            .col-fix-2 .easyui-combobox, .col-fix-2 .easyui-textbox,
            .col-fix-2 .easyui-datebox, .col-fix-2 .easyui-maskedbox {
                width: 110px !important;
            }

            .col-fix-3 input[type="text"], .col-fix-3 .form-control,
            .col-fix-3 .easyui-combobox, .col-fix-3 .easyui-textbox,
            .col-fix-3 .easyui-datebox, .col-fix-3 .easyui-maskedbox {
                width: 120px !important;
            }

            .col-fix-1 .col-fix-lg, .col-fix-2 .col-fix-lg, .col-fix-3 .col-fix-lg {
                width: 300px !important;
            }

                .col-fix-1 .col-fix-lg input[type="text"], .col-fix-1 .col-fix-lg .easyui-textbox {
                    width: 300px !important;
                }
        /*#endregion*/
        /*#region dom style*/
        #reportFrame {
            height: auto 100%;
        }

        .dlgtabs {
            min-height: 80%;
            max-height: calc(100vh - 100px);
            border: 0.5px solid #bbbaba;
        }

        .rowstyle {
            margin-left: 8px !important;
            margin-top: 5px;
            padding-right: 0px;
        }

        input[type=radio] {
            margin-right: 5px;
            padding: 0.5em;
            -webkit-appearance: none;
            outline: 0.1em solid black;
            outline-offset: 0.1em;
        }

            input[type=radio]:checked {
                display: inline-block;
                background-color: #000 !important;
            }

            input[type=radio]:disabled {
                background-color: #EEEEEE;
            }

        /*#endregion*/

        .progress-extended div label, .progress-txtextended div label {
            width: 100%;
            text-align: left;
        }

        .progress-extended .row, .progress-txtextended .row {
            margin: 10px;
            padding: 5px;
            border-bottom: 0.5px solid black;
        }

            .progress-extended .row .btn, .progress-txtextended .row .btn {
                margin-right: 15px;
            }

        .form-viewer {
            width: 99%;
            height: 100%;
        }

        /*#region form style*/
        .formtext {
            white-space: nowrap;
            border: 1px solid black;
        }

        .formimport {
            border: 1px solid black;
        }
        /*#endregion */
        @@media (max-width: 1400px) {
            #submenu {
                font-size: 0.9em !important;
            }

            #body-container {
                max-height: calc(100vh - 130px);
                font-size: 0.9em;
            }



            #content-grid {
                min-height: calc(100vh - 300px);
            }

            .panel-title, .tabs-title {
                font-size: 0.8em;
            }

            .panel-header, .tabs, .tabs-wrap, .tabs-selected, .tabs-inner {
                height: 23px !important;
                padding: 1px !important;
            }

            .datagrid-cell {
                font-size: 0.8em !important;
            }

            .datagrid-header-row {
                font-size: 0.8em !important;
                height: 28px !important;
            }

            .layout-panel-center .datagrid-row,
            .layout-panel-center .datagrid-row-editing,
            .layout-panel-center .datagrid-row-editing td,
            .layout-panel-center .datagrid-row-editing span,
            .layout-panel-center .datagrid-row-editing input {
                height: 35px;
            }

            .col-fix-1 label, .col-fix-2 label, .col-fix-3 label {
                font-size: 9px !important;
            }

            .col-fix-1 span {
                margin-left: 10px;
            }

            .col-fix-1 input[type="text"], .col-fix-1 .form-control,
            .col-fix-1 .easyui-combobox, .col-fix-1 .easyui-textbox,
            .col-fix-1 .easyui-datebox, .col-fix-1 .easyui-maskedbox {
                font-size: 9px !important;
                width: 100px !important;
            }

            .col-fix-2 input[type="text"], .col-fix-2 .form-control,
            .col-fix-2 .easyui-combobox, .col-fix-2 .easyui-textbox,
            .col-fix-2 .easyui-datebox, .col-fix-2 .easyui-maskedbox {
                font-size: 9px !important;
                width: 90px !important;
            }

            .col-fix-3 input[type="text"], .col-fix-3 .form-control,
            .col-fix-3 .easyui-combobox, .col-fix-3 .easyui-textbox,
            .col-fix-3 .easyui-datebox, .col-fix-3 .easyui-maskedbox {
                font-size: 9px !important;
                width: 100px !important;
            }

            .col-fix-4 input[type="text"], .col-fix-4 .form-control,
            .col-fix-4 .easyui-combobox, .col-fix-4 .easyui-textbox,
            .col-fix-4 .easyui-datebox, .col-fix-4 .easyui-maskedbox {
                font-size: 9px !important;
                width: 80px !important;
            }

            .col-fix-1 .col-fix-lg, .col-fix-2 .col-fix-lg, .col-fix-3 .col-fix-lg {
                width: 200px !important;
            }

            .textbox-button .l-btn-left {
                margin: 0px !important;
                padding-left: 20px;
                height: 28px;
                width: 28px;
            }

                .textbox-button .l-btn-left .l-btn-icon {
                    margin-top: -8px;
                    margin-left: 0px !important;
                }

            .textbox-button .l-btn-text {
                font-size: 0px !important;
            }

            .btndeliverychange, .btnmanualclose, .btnstockenter {
                width: 65px !important;
                height: 45px !important;
            }

            .btnreportset {
                width: 60px !important;
                height: 45px !important;
                font-size: 0.7em !important;
            }
        }

        /* sub欄位*/
        /*#region datagrid style*/
        .datagrid {
            border: 2px solid white; /* 默認顏色 */
        }

        .datagrid-header-row td {
            background-color: #d2d2d2;
            color: #333;
            font-weight: bold;
            border: 1px solid black !important;
        }

        .datagrid-header, .datagrid-td-rownumber {
            background-color: #fff !important;
            background: none;
            background-repeat: no-repeat;
        }

        .datagrid-cell-rownumber {
            color: black !important;
        }

        .datagrid-row .datagrid-cell {
            margin: 0px !important;
            padding: 0px !important;
        }

        .datagrid-row td {
            border: 1px solid black !important;
        }

        #infotabs .tabs-header, #advtabs .tabs-header, #dlgtabs .tabs-header {
            display: none;
        }

        /* 居中显示的浮水印效果样式 */
        .watermark {
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 220px;
            height: 45px;
            padding: 0;
            color: #000000;
            font-size: 2em;
            font-weight: bold;
            border-radius: 0px;
            text-align: center;
            line-height: 45px;
            z-index: 10;
            pointer-events: none; /* 使元素不可点击 */
            position: relative; /* 用于定位伪元素 */
        }

            .watermark:before {
                content: '@Resources.Content.Closed';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) rotate(-30deg);
                font-size: 3em;
                color: #FF5050; /* 设置与图片类似的红色字体 */
                border: 2px solid #FF5050; /* 红色外框 */
                box-sizing: border-box;
                padding: 10px; /* 增加内边距以确保边框可见 */
                z-index: 5; /* 边框在文字下层 */
                line-height: 1em; /* 调整字的上下间隔 */
            }

    </style>
}

@{ Html.RenderAction("_ToolBarPartial"); }

<div id="body-container">
    <div class="easyui-layout body-layout">
        <div data-options="region:'west',collapsible:false" title="" style="width:25%;height:100%;">
            <table id="maindg" class="datagrid easyui-maindg" style="width:100%;height:100%;"></table>
        </div>

        <div data-options="region:'east',collapsible:false" title="" style="width: 75%; height: 100%;">
            <div class="row" style="width: 99%;height:21%; margin: 2px;">
                @{ Html.RenderAction("_VoucherTableInfoPartial"); }
                <div id="close-tip"></div>
            </div>
            <div class="row" style="width: 99%; height: 70%; margin: 2px;">
                <div id="content-tabs" class="easyui-tabs" style="width:100%;height:100%;">
                    <div title="@Resources.Content.Detail" style="padding:2px;display:none;">
                        <table id="itemdg" class="datagrid easyui-itemdg" style="width: 100%; height: 100%; margin: 5px;"></table>
                    </div>
                    <div title="@Resources.Content.Advanced" style="overflow: auto; padding: 20px; display: none;">
                        @{ Html.RenderAction("_VoucherTableAdvPartial"); }
                    </div>
                </div>
            </div>
            <div class="row" style="width: 99%; height: 5%; margin: 0px;">
                @{ Html.RenderAction("_VoucherDCShowPartial"); }
            </div>

        </div>
    </div>
</div>
<div id="dlgReport" class="easyui-dialog" data-options="modal:true,closed:true">
    <iframe id="reportIframe" src="" style="width:100%; height:98%;" frameborder="0"></iframe>
</div>

@section Scripts {
    <script src="~/Scripts/myjs/voucher.js"></script>
    <script>
        ///-----基本參數-----///
        //#region 基本參數
        var controllerurl = '/Voucher', functionurl = "/", actionurl = "";
        var maindg = $('#maindg'),        //左側列表
            itemdg = $('#itemdg');      //表身頁籤1列表
        var maindgIndex = -1,
            itemdgIndex;
        var actioncode = 'view';
        //#endregion

        //#region 多語系
        var maindglang = {
            BillDate: '@Resources.Content.BillDate',
            BillNo: '@Resources.Content.BillNo',
            VoucherNameC: '@Resources.Content.VoucherNameC',
            EmpNo: '@Resources.Content.EmpNo',
            EmpNameC: '@Resources.Content.EmpNameC',
            Remark: '@Resources.Content.Remark',
            CompNo: '@Resources.Content.CompNo',
            CompAbbr: '@Resources.Content.CompAbbr'
        };
        var itemdglang = {
            Linage:'@Resources.Content.Linage',
            AccNo: '@Resources.Content.AccNo',
            AccName:'@Resources.Content.AccName',
            Remark: '@Resources.Content.Remark',
            DCTypeNo: '@Resources.Content.DCTypeNo',
            CurrencyNo: '@Resources.Content.CurrencyNo',
            CurrencySt: '@Resources.Content.CurrencySt',
            Rate: '@Resources.Content.Rate',
            Aamount:'@Resources.Content.Aamount',
            Tamount: '@Resources.Content.Tamount',
            TargetType: '@Resources.Content.TargetType',
            TargetNo: '@Resources.Content.TargetType',
            TargetAbbr: '@Resources.Content.TargetType',
            AccProfitNo: '@Resources.Content.AccProfitNo',
            AccProfitName: '@Resources.Content.AccProfitName',
            AccDeptNo: '@Resources.Content.AccDeptNo',
            AccDeptName: '@Resources.Content.AccDeptName',
            PayDeptNo: '@Resources.Content.PayDeptNo',
            PayDeptName: '@Resources.Content.PayDeptName',
            CheckNo: '@Resources.Content.CheckNo',
            OffsetNo: '@Resources.Content.OffsetNo',
            CaseBillNo: '@Resources.Content.CaseBillNo',
            SourceDocSubTypeName: '@Resources.Content.SourceDocSubTypeName',
            SourceNo: '@Resources.Content.SourceNo',
            InitialDocSubTypeName: '@Resources.Content.InitialDocSubTypeName',
            InitialNo: '@Resources.Content.InitialNo',
            ActivityType: '@Resources.Content.ActivityType',
        };
        var msglang = {
            Title1: '@Resources.Content.Confirm', // 確認
            Title2: '@Resources.Content.Alert',  // 警告
            Title3: '@Resources.Content.Prompts',  // 提示
            MsgCfmLeave: '@Resources.Content.MsgCfmLeave',//是否要離開?
            MsgCfmCancel: '@Resources.Content.MsgCfmLeave',//是否要取消?
            MsgCfmSend: '@Resources.Content.MsgCfmSend',//是否要送出?
            MsgErrCode: '@Resources.Content.MsgErrCode',//後端回傳錯誤
            MsgErrAja: '@Resources.Content.MsgErrAja', //伺服器錯誤
            MsgErrDc: '@Resources.Content.MsgErrDc', //借貸不平衡
            MsgErrSaveFirst: '@Resources.Content.MsgErrSaveFirst', //請先儲存
            MsgSelectRow: '@Resources.Content.MsgSelectRow',//選擇行編輯
            MsgSelectRow1: '@Resources.Content.MsgSelectRow1',//選擇行刪除
            MsgSelectRow2: '@Resources.Content.MsgSelectRow2',//選擇行送出
            MsgSelectRow3: '@Resources.Content.MsgSelectRow3',//選擇行填入
            MsgActionErr: '@Resources.Content.MsgActionErr', //操作碼錯誤
            MsgSes1: '@Resources.Content.MsgSes1', //成功新增
            MsgSes2: '@Resources.Content.MsgSes2', //成功編輯
            MsgSes3: '@Resources.Content.MsgSes3', //成功啟用
            MsgSes4: '@Resources.Content.MsgSes4', //成功停用
            MsgSes5: '@Resources.Content.MsgSes5', //成功送審
            MsgSes6: '@Resources.Content.MsgSes6', //成功退件
            MsgSes7: '@Resources.Content.MsgSes7', //成功結案
            MsgSes8: '@Resources.Content.MsgSes8', //成功刪除
        };
        //#endregion

        //#region 資料暫存
        var objVoucherType = { name: 'VoucherType', data: null };
        var objDocSubType = { name: 'DocSubType', data: null };
        //#endregion

        //#region 初始化
        $(function () {
            ///-----dg欄位設定-----///
            maindgSet();    //左側列表欄位
            itemdgSet();    //右側側列表欄位_分錄明細
            ///-----按鈕狀態-----///
            btnEnableSet('view');
            ///-----資料填值-----///
            maindgData();
        });
        //#endregion

        //#region dg設定與填值
        ///----- 頁面dg -----///
        function maindgSet() {
            maindg.datagrid({
                singleSelect: true,
                striped: true,
                columns: [[
                    { field: 'WebId', title: 'WebId', hidden: true, type: 'text' },
                    { field: 'Id', title: 'Id', hidden: true, type: 'text' },
                    { field: 'Flag', title: '旗', hidden: true },
                    { field: 'BillDate', title: maindglang.BillDate, width: 80, editor: { type: 'text' }, styler: function (value, row, index) { return 'border:1px solid black;' } },
                    { field: 'BillNo', title: maindglang.BillNo, width: 130, editor: { type: 'text' }, styler: function (value, row, index) { return 'border:1px solid black;' } },
                    { field: 'VoucherNameC', title: maindglang.VoucherNameC, hidden: true },
                    { field: 'EmpNo', title: maindglang.EmpNo, width: 150, editor: { type: 'text' }, styler: function (value, row, index) { return 'border:1px solid black;' } },
                    { field: 'EmpNameC', title: maindglang.EmpNameC, width: 150, editor: { type: 'text' }, styler: function (value, row, index) { return 'border:1px solid black;' } },
                    { field: 'Remark', title: maindglang.Remark, width: 150, editor: { type: 'text' }, styler: function (value, row, index) { return 'border:1px solid black;' } },
                    { field: 'CompNo', title: maindglang.CompNo, width: 150, editor: { type: 'text' }, styler: function (value, row, index) { return 'border:1px solid black;' } },
                    { field: 'CompAbbr', title: maindglang.CompAbbr, width: 150, editor: { type: 'text' }, styler: function (value, row, index) { return 'border:1px solid black;' } },
                    { field: 'BillStatus', title: 'BillStatus', hidden: true }
                ]],
                onSelect: function (index, row) {
                    maindgIndex = index;
                    tableHeadData(row);
                    itemdgData(row.WebId);
                    if (row.BillStatus == '3') {
                        $('#btnClose').linkbutton('disable');
                        $('#close-tip').html('<div class="watermark"></div>');
                    } else {
                        $('#btnClose').linkbutton('enable');
                        $('#close-tip').empty(); // 清空内容，如果不是結案的情況下
                    }

                },
                rowStyler: function (index, row) {
                    //if (row.BillStatus == '0') { //新建立
                    //    return 'background-color:#FFFFFF;';
                    //}
                    //if (row.BillStatus == '1') { //已覆核
                    //    return 'background-color:#E4CE40;';
                    //}
                    //if (row.BillStatus == '2') { //主管已審核
                    //    return 'background-color:#ADE43F;';
                    //}
                    if (row.BillStatus == '3') {//已結案
                        return 'background-color:#A7CECB;';
                    }
                    //if (row.BillStatus == '4') { //主管退件
                    //    return 'background-color:#FF8552;';
                    //}
                    //if (row.BillStatus == '5') { //結案退件
                    //    return 'background-color:#FF52F4;';
                    //}
                }
            });
        }
        function maindgData() {
            actionurl = defaultUrl + controllerurl + functionurl + 'GetVoucherInfo?type=close';
            doajax("GET", actionurl, null, function (result) {
                if (result.success) {
                    if (Array.isArray(result.data)) {
                        // 遍歷數據並格式化日期
                        result.data.forEach(function (item) {
                            if (item.BillDate) {
                                item.BillDate = formatDate(item.BillDate); // 使用formatDate函數格式化日期
                            }
                        });
                    }
                    maindg.datagrid('loadData', result.data);
                     let billno = '@ViewBag.BillNo';
                     if (billno) {
                         selectRow(billno);
                     }
                } else {
                    $.messager.alert(msglang.Title2, msglang.MsgErrCode + result.code);
                    if (result.code == 'C0004') {
                        console.log(result.err);
                    }
                    //maindg.datagrid('loadData', '');
                }
            });
        }
        function itemdgSet() {
            itemdg.datagrid({
                singleSelect: true,
                striped: true,
                fitColumns: true,
                columns: [[
                    { field: 'WebId', title: 'WebId', hidden: true, type: 'text' },
                    { field: 'Id', title: 'Id', hidden: true, type: 'text' },
                    { field: 'Linage', title: itemdglang.Linage, align: 'center', hidden: false, type: 'string' },
                    { field: 'AccNo', title: itemdglang.AccNo, width: '10%', hidden: false, type: 'string', },
                    { field: 'AccName', title: itemdglang.AccName, width: '20%', hidden: false, type: 'string' },
                    { field: 'Remark', title: itemdglang.Remark, width: '20%', type: 'string', },
                    { field: 'DCTypeNo', title: itemdglang.DCTypeNo, align: 'center', hidden: false, type: 'string', },
                    { field: 'DCTypeNameC', title: '借貸名稱', width: '8%', hidden: true, type: 'string' },
                    { field: 'CurrencyNo', title: itemdglang.CurrencyNo, width: '8%', align: 'center', hidden: false, type: 'string', },
                    { field: 'Money', title: itemdglang.Tamount, width: '8%', align: 'right', hidden: false, type: 'number', },
                    { field: 'Rate1', title: itemdglang.Rate, width: '5%', align: 'center', hidden: false, type: 'number', },
                    { field: 'CurrencySt', title: itemdglang.CurrencySt, width: '8%', align: 'center', type: 'string' },
                    { field: 'Money1', title: itemdglang.Aamount, width: '8%', align: 'right', hidden: false, type: 'number', formatter: function (value, row, index) { return parseFloat(value).toFixed(3); } },
                    { field: 'TargetId', title: '對象別Id', width: '10%', hidden: true, type: 'string', },
                    { field: 'TargetType', title: itemdglang.TargetType, width: '5%', hidden: false, type: 'string', formatter: formatTargetType, },
                    { field: 'TargetNo', title: itemdglang.TargetNo, width: '5%', hidden: false, type: 'string' },//對象編號
                    { field: 'TargetAbbr', title: itemdglang.TargetAbbr, width: '8%', hidden: false, type: 'string' },//對象名稱
                    { field: 'AccProfitId', title: '會計部門Id', hidden: true, type: 'string' },//會計部門Id
                    { field: 'AccProfitNo', title: itemdglang.AccProfitNo, hidden: false, type: 'string' },//會計部門編號
                    { field: 'AccProfitName', title: itemdglang.AccProfitName, hidden: false, type: 'string' },//會計部門名稱
                    { field: 'AccDeptId', title: '成本中心Id', hidden: true, type: 'string' },//成本中心Id
                    { field: 'AccDeptNo', title: itemdglang.AccDeptNo, hidden: false, type: 'string' }, //成本中心編號
                    { field: 'AccDeptName', title: itemdglang.AccDeptName, hidden: false, type: 'string' },//成本中心名稱
                    { field: 'PayDeptId', title: '支付部門Id', hidden: true, type: 'string' },//支付部門Id
                    { field: 'PayDeptNo', title: itemdglang.PayDeptNo, hidden: false, type: 'string' },//支付部門編號
                    { field: 'PayDeptName', title: itemdglang.PayDeptName, hidden: false, type: 'string' },//支付部門名稱
                    { field: 'CheckType', title: '票據Type', hidden: true, type: 'string' },//票據Type
                    { field: 'CheckId', title: '票據Id', hidden: true, type: 'string' },//票據Id
                    { field: 'CheckNo', title: itemdglang.CheckNo, hidden: false, type: 'string', },//票據編號
                    { field: 'OffsetNo', title: itemdglang.OffsetNo, hidden: false, type: 'string' },//立沖編號
                    { field: 'CaseBillNo', title: itemdglang.CaseBillNo, hidden: false, type: 'string' },//來源單DocId
                    { field: 'SourceDocId', title: '來源單DocId', hidden: true, type: 'string' },//來源單DocId
                    { field: 'SourceSeqId', title: '來源單SeqId', hidden: true, type: 'string' },//來源單SeqId
                    { field: 'SourceDocSubTypeName', title: itemdglang.SourceDocSubTypeName, hidden: false, type: 'string' },//來源單別
                    { field: 'SourceNo', title: itemdglang.SourceNo, hidden: false, type: 'string' },//來源單號
                    { field: 'InitialProjectId', title: '原始單ProjectId', hidden: true, type: 'string' },//原始單ProjectId
                    { field: 'InitialDocSubType', title: '原始單DocSubType', hidden: true, type: 'string' },//原始單DocSubType
                    { field: 'InitialDocId', title: '原始單DocId', hidden: true, type: 'string' },//原始單DocId
                    { field: 'InitialDocSubTypeName', title: itemdglang.InitialDocSubTypeName, hidden: false, type: 'string' },//原始單別
                    { field: 'InitialNo', title: itemdglang.InitialNo, hidden: false, type: 'string' },//原始單號
                    { field: 'ActivityType', title: itemdglang.ActivityType, hidden: false, type: 'string', },//活動類別
                ]],
                onClickRow: function (index, row) {
                    if (actioncode === 'edit' || actioncode === 'add') {
                        itemdg.datagrid('beginEdit', index); //啟用編輯
                        itemdgIndex = index; // 更新當前行索引
                        voucherDC();
                    }
                },
                onBeforeEdit: function (index, row) {
                    if (actioncode === 'edit' || actioncode === 'add') {
                        // 如果上一行正在編輯，結束它的編輯狀態
                        if (itemdgIndex !== undefined && itemdgIndex !== index) {
                            itemdg.datagrid('endEdit', itemdgIndex);
                        }
                    }
                },
                onAfterEdit: function (index, row, changes) {
                    if (actioncode === 'edit' || actioncode === 'add') {
                        // 使用 updateRow 更新數據源
                        itemdg.datagrid('updateRow', { index: index, row: row });
                        // 刷新該行以應用格式化並重構編輯狀態
                        itemdg.datagrid('refreshRow', index);
                        voucherDC();
                        // 重置當前的編輯行索引
                        itemdgIndex = undefined;

                    }
                },
                onCancelEdit: function (index, row) {
                    if (actioncode === 'edit' || actioncode === 'add') {
                        itemdgIndex = undefined; // 重置索引
                    }
                },
                onRowContextMenu: function (e, index, row) {
                    if (actioncode === 'edit' || actioncode === 'add') {
                        $('#mm').menu('show', {
                            left: e.pageX,
                            top: e.pageY
                        });
                        e.preventDefault();
                    }
                }
            });
        }
        function itemdgData(webdocid) {
            actionurl = defaultUrl + controllerurl + functionurl + 'GetVoucherItem?webdocid=' + webdocid;
            doajax("GET", actionurl, null, function (result) {
                if (result.success) {
                    itemdg.datagrid('loadData', result.data);
                    // VoucherDC計算
                    voucherDC();
                } else {
                    $.messager.alert(msglang.Title2, msglang.MsgErrCode + result.code);
                    if (result.code == 'C0004') {
                        console.log(result.err);
                    }
                    itemdg.datagrid('loadData', '');
                }
            });
        }
        //#endregion

        //#region 按鈕動作&狀態
        function btnClick(type) {
            let nowindex, row;
            switch (type) {
                //#region toolbar_maindg導覽&搜尋
                case 'first':
                    maindg.datagrid('selectRow', 0);
                    break;
                case 'previous':
                    row = maindg.datagrid('getSelected');
                    if (row) {
                        nowindex = maindg.datagrid('getRowIndex', row);
                    } else if (maindgindex >= 0) {
                        nowindex = maindgindex;
                    } else {
                        let rows = maindg.datagrid('getRows');
                        if (rows) {
                            nowindex = 0;
                        }
                    }
                    maindg.datagrid('selectRow', nowindex - 1);
                    break;
                case 'next':
                    row = maindg.datagrid('getSelected');
                    if (row) {
                        nowindex = maindg.datagrid('getRowIndex', row);
                    } else if (maindgindex >= 0) {
                        nowindex = maindgindex;
                    } else {
                        let rows = maindg.datagrid('getRows');
                        if (rows) {
                            nowindex = -1;
                        }
                    }
                    maindg.datagrid('selectRow', nowindex + 1);
                    break;
                    break;
                case 'last':
                    row = maindg.datagrid('getRows');
                    if (row) {
                        index = row.length;
                    }
                    maindg.datagrid('selectRow', index - 1);
                    break;
                case 'search':
                    break;
                //#endregion

                //#region toolbar_itemdg資料動作
                case 'close':
                    row = maindg.datagrid('getSelected');
                    if (row != null) {
                        if (row.BillStatus == '3') {
                            alert("此單據已結案");
                        } else {
                            actionurl = defaultUrl + controllerurl + functionurl + 'VoucherStatus?type=close&webid=' + row.WebId;
                            doajax("POST", actionurl, null, function (result) {
                                if (result.success) {
                                    pageReload(result.data, 'Close');
                                } else {
                                    $.messager.alert(msglang.Title2, msglang.MsgErrCode + result.code);
                                    if (result.code == 'C0004') {
                                        console.log(result.err);
                                    }
                                    itemdg.datagrid('loadData', '');
                                }
                            });
                        }
                    } else {
                        alert("請選擇傳票進行結案");
                    }
                    break;
                case 'reject':
                    row = maindg.datagrid('getSelected');
                    if (row != null) {
                        if (row.BillStatus == '3') {
                            alert("此單據已結案");
                        } else {
                            actionurl = defaultUrl + controllerurl + functionurl + 'VoucherStatus?type=reject2&webid=' + row.WebId;
                            doajax("POST", actionurl, null, function (result) {
                                if (result.success) {
                                    pageReload(result.data,'Reject');
                                } else {
                                    $.messager.alert(msglang.Title2, msglang.MsgErrCode + result.code);
                                    if (result.code == 'C0004') {
                                        console.log(result.err);
                                    }
                                    itemdg.datagrid('loadData', '');
                                }
                            });
                        }
                    } else {
                        alert("請選擇傳票進行退件");
                    }
                    break;
                case 'report':
                    $.messager.progress()
                    row = maindg.datagrid('getSelected');
                    if (row != null) {
                        let winheight = $(window).height();
                        let winwidth = $(window).width();
                        // 動態設置 iframe 的 src 以便加載報表
                        var reportUrl = '@Url.Action("VoucherBillReport", "ReportView")' + '?reportId=' + row.WebId;
                        $('#reportIframe').attr('src', reportUrl);

                        // 打開Dialog
                        $('#dlgReport').dialog({ height: winheight - 80, width: winwidth-750, title: '傳票報表' });
                        $('#dlgReport').dialog('open').dialog('center');
                        $.messager.progress('close')
                    } else {
                        $.messager.progress('close')
                        alert("請選擇傳票建立報表");
                    }

                    break;
                case 'delete':/*測試階段使用，後續移除*/
                    row = maindg.datagrid('getSelected');
                    if (row != null) {
                        $.messager.confirm('提醒', '是否刪除所選傳票?', function (r) {
                            if (r) {
                                actionurl = defaultUrl + controllerurl + functionurl + 'DeleteData?webid=' + row.WebId;
                                doajax("Delete", actionurl, null, function (result) {
                                    if (result.success) {
                                        pageReload(result.data, 'Delete');
                                    } else {
                                        $.messager.alert(msglang.Title2, msglang.MsgErrCode + result.code);
                                        if (result.code == 'C0004') {
                                            console.log(result.err);
                                        }
                                        itemdg.datagrid('loadData', '');
                                    }
                                });
                            }
                        });
                    } else {
                        alert("請選擇傳票進行編輯");
                    }
                    break;
                //#endregion
            }
        }
        function btnEnableSet(type) {
            switch (type) {
                case 'view':
                    $('#btnAdd').linkbutton('enable');
                    $('#btnEdit').linkbutton('enable');
                    $('#btnSave').linkbutton('disable');
                    $('#btnDetail').linkbutton('disable');
                    $('#btnRefresh').linkbutton('enable');
                    $('#btnCancel').linkbutton('disable');
                    $('#btnDelete').linkbutton('enable');
                    break;
                case 'add':
                    break;
                case 'edit':
                    break;
                case 'cancel':
                    break;
                default:
                    $('#btnAdd').linkbutton('enable');
                    $('#btnEdit').linkbutton('enable');
                    $('#btnSave').linkbutton('disable');
                    $('#btnDetail').linkbutton('disable');
                    $('#btnRefresh').linkbutton('enable');
                    $('#btnCancel').linkbutton('disable');
                    $('#btnDelete').linkbutton('enable');
            }
        }



        //#region 功能函式    
        //// 表頭、進階資料、借貸平衡填值
        //function tableHeadData(row) {
        //    $('.colBillDate').textbox('setValue', row.BillDate);
        //    $('.colDocSubType').textbox('setValue', row.DocSubType);
        //    $('.colDocSubTypeName').textbox('setValue', row.DocSubTypeName);
        //    $('.colCompNo').textbox('setValue', row.CompNo);
        //    $('.colCompAbbr').textbox('setValue', row.CompAbbr);
        //    $('.colVoucherType').textbox('setValue', row.VoucherType);
        //    $('.colVoucherNameC').textbox('setValue', row.VoucherNameC);
        //    $('.colEmpNo').textbox('setValue', row.EmpNo);
        //    $('.colEmpNameC').textbox('setValue', row.EmpNameC);
        //    $('.colDeptNo').textbox('setValue', row.DeptNo);
        //    $('.colDeptName').textbox('setValue', row.DeptName);
        //    $('.colBillNo').textbox('setValue', row.BillNo);
        //    $('.colCurrencyNo').textbox('setValue', row.CurrencyNo);
        //    $('.colCurrencySt').textbox('setValue', row.CurrencySt);
        //    $('.colRate1').textbox('setValue', row.Rate1);
        //    /* $('.colCurrency2').textbox('setValue',row.VoucherNameC);*/
        //    /* $('.colRate2').textbox('setValue', row.Rate2);*/
        //    $('.colRemark').textbox('setValue', row.Remark);
        //    //進階資料
        //    $('.colLedger').textbox('setValue', '帳簿1');
        //    $('.colCompNo').textbox('setValue', row.CompNo);
        //    $('.colCompAbbr').textbox('setValue', row.CompAbbr);
        //    $('.colAccDocType').textbox('setValue', row.AccDocType);
        //    $('.colSourceDocSubTypeName').textbox('setValue', row.SourceDocSubTypeName);
        //    $('.colActivityType').textbox('setValue', row.ActivityType);
        //    $('.colSourceNo').textbox('setValue', row.SourceNo);
        //    //借貸平衡
        //    $('.colCurrencyD').textbox('setValue', row.CurrencySt);
        //    $('.colCurrencyC').textbox('setValue', row.CurrencySt);
        //    $('.colCurrency').textbox('setValue', row.CurrencySt);
        //}

        // 傳票借貸合計(顯示用)
        function voucherDC() {
            let totalDMoney = 0;
            let totalCMoney = 0;
            let balance = 0;
            let rows = itemdg.datagrid('getRows');

            for (let i = 0; i < rows.length; i++) {
                if (rows[i].DCTypeNo === 'D') {
                    totalDMoney += parseFloat(rows[i].Money1);
                } else if (rows[i].DCTypeNo === 'C') {
                    totalCMoney += parseFloat(rows[i].Money1);
                }
            }
            balance = Math.abs(totalDMoney - totalCMoney);

            // 將計算後的值填入對應的 input 元素
            $('.colMoneyD').textbox('setValue', totalDMoney);
            $('.colMoneyC').textbox('setValue', totalCMoney);
            $('.colMoney').textbox('setValue', balance);
        }        
        //#endregion
    </script>
    <script>
        $(document).ready(function () {
            $('#btnAdd').addClass('hidden-btn');
            $('#btnEdit').addClass('hidden-btn');
            $('#btnSave').addClass('hidden-btn');
            $('#btnDetail').addClass('hidden-btn');
            $('#btnRefresh').addClass('hidden-btn');
            $('#btnCancel').addClass('hidden-btn');
            /*$('#btnDelete').addClass('hidden-btn');*/

            $('#btnLock').hide();
             $('#btnCheck').hide();
            /*$('#btnClose').hide();*/
            $('#btnUnlock').hide();
            /*$('#btnReject').hide();*/

            let msg = '@ViewBag.Msg';
            let billno = '@ViewBag.BillNo';
            if (msg) {
                switch (msg) {
                    case 'Close':
                        $.messager.alert(msglang.Title3, msglang.MsgSes7 + billno);
                        break;
                    case 'Reject':
                        $.messager.alert(msglang.Title3, msglang.MsgSes6 + billno);
                        break;
                    case 'Delete':
                        $.messager.alert(msglang.Title3, msglang.MsgSes8 + billno);
                        break;
                    default:
                        break;
                }
            }
        });
    </script>
}