@using NES_WEB_ACC.ViewModels
@model List<RolesListViewModel>
@{
    ViewBag.Title = "RolesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <style>
        /* #region Container */
        .box-contain {
            height: auto;
            width: 99%;
            min-height: calc(100vh - 150px);
            margin: 0px;
            padding: 0px;
            font-size: 0.9em;
        }

        .box-title {
            font-weight: bold;
            padding: 0px 10px 0px 15px;
        }

            .box-title h3 {
                margin-top: 10px !important;
                font-weight: bold;
                color: black;
            }

                .box-title h3 span {
                    margin-left: 3px;
                }

        .btn-bar, .box-body {
            width: 99%;
            margin: 0px 15px 10px 15px;
        }

        .box-container {
            width: 100%;
            margin: 0px 1px 0px 1px;
            padding-right: 15px;
        }

        /*#endregion */
        /*#region 控制按鈕*/
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }
        /*#endregion*/
        /*#region 欄位設定*/
        .tg {
            border-collapse: collapse;
            width: 100%;
            border: 3px solid #000000;
        }

        .tg-th {
            background-color: #dae8fc;
            border: 1px solid #000000;
            padding: 8px;
            text-align: left;
        }

        .tg td {
            border: 1px solid #000000;
            padding: 8px;
            text-align: left;
        }

        .hidden-column {
            display: none;
        }

        /*#endregion*/
    </style>
}
<div class="box-contain">
    <h2> 系統權限管理-Roles</h2>
    <button id="btnInsert" class="easyui-linkbutton" data-options="iconCls:'icon-add'">新增角色</button>
    <table id="roles-table" class="tg">
        <tr>
            <th class="tg-th hidden-column"> RoleId</th>
            <th class="tg-th"> RoleName</th>
            <th class="tg-th"> 角色狀態</th>
            <th class="tg-th"> 操作</th>
        </tr>
        @foreach (var role in Model)
        {
            <tr>
                <td class="hidden-column">@role.RoleId </td>
                <td>@role.RoleName </td>
                <td>
                    @if (role.RoleStatus == true)
                    {
                        <label class="switch">
                            <input type="checkbox" checked id="@role.RoleId" class="checkbox-switch">
                            <span class="slider round"> </span>
                        </label>
                    }
                    else if (role.RoleStatus == false)
                    {
                        <label class="switch">
                            <input type="checkbox" unchecked id="@role.RoleId" class="checkbox-switch">
                            <span class="slider round"> </span>
                        </label>
                    }
                    else if (role.RoleStatus is null)
                    {
                        <span>狀態未設定，請聯絡系統管理員。</span>
                    }
                </td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="renameRole('@role.RoleId','@role.RoleName')">重新命名</button>
                </td>
            </tr>
        }
    </table>
</div>

@*開啟視窗*@
<div id="insertWin" class="easyui-window" title="新增角色" style="width:auto;height:auto;"
     data-options="modal:true,closed:true">
    <div>
        <label>角色名稱：</label>
        <input type="text" id="roleName" required>
        <button id="btnSave" class="easyui-linkbutton" data-options="iconCls:'icon-save'">確定</button>
        <button id="btnCancel" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</button>
    </div>

</div>
@*Remane視窗**@
<div id="renameRoleWin" class="easyui-window" data-options="closed:true">
    <div class="easyui-panel" style="width:100%;max-width:400px;padding:30px 60px;">
        <form id="ff" method="post">
            <div style="margin-bottom: 20px ;display:none;">
                <input id="roleId" class="easyui-textbox" name="roleId" style="width:100%" data-options="label:'RoleId:',required:true,readonly:true">
            </div>
            <div style="margin-bottom:20px">
                <input id="roleOldName" class="easyui-textbox" name="roleOldName" style="width:100%" data-options="label:'Old Name:',required:true,readonly:true">
            </div>
            <div style="margin-bottom:20px">
                <input id="roleNewName" class="easyui-textbox" name="roleNewName" style="width:100%" data-options="label:'New Name:',required:true">
            </div>           
        </form>
        <div style="text-align:center;padding:5px 0">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:80px">修改</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" style="width:80px">取消</a>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var byRoleId = '';
        // btn事件：開啟新增視窗
        $('#btnInsert').click(function () {
            $('#insertWin').window('open')

        });
        // btn事件：匯入按鈕
        $('#btnSave').click(function () {
            var insertRoleName = $('#roleName').val();
            if (insertRoleName != null && insertRoleName != '') {
                $.ajax({
                    type: 'POST',
                    url: '/UserRoleManage/InsertToSYS_Roles',
                    data: { roleName: insertRoleName },  // 將行數據作為 JSON 物件傳遞給後端
                    success: function (response) {
                        if (response.message == '儲存成功') {
                            $('#insertWin').window('close');
                            console.log("新增:[" + insertRoleName + "]角色成功。");
                            alert("新增:[" + insertRoleName + "]角色成功。");
                            location.reload();
                        } else {
                            console.log('儲存失敗', response.message);
                            alert(response.message);
                            $('#insertWin').window('close');
                        }
                    },
                    error: function (error) {
                        console.error('Action錯誤', error);
                        alert("Action錯誤。\n\r" + error.message);
                    }
                });
            } else {
                alert('請輸入角色名稱!');
            }
        });
        // btn事件：取消按鈕
        $('#btnCancel').click(function () {
            $('#roleName').val('');
            $('#insertWin').window('close');
        });


        // roles-table的.checkbox-switch元件
        var checkboxes = document.querySelectorAll('.checkbox-switch');
        // 監聽每個checkbox的change事件
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                // 在這裡處理checkbox狀態改變時的邏輯
                var isChecked = this.checked;
                var checkboxId = this.id;
                //紀錄原先狀態
                var originalChecked = !isChecked;

                // 在這裡使用checkboxId，可以將其傳送給後端或進行其他操作
                console.log("Checkbox with ID " + checkboxId + " is checked: " + isChecked);
                console.log("OriginalChecked: " + originalChecked);
                //修改資料庫的資料
                $.ajax({
                    type: 'POST',
                    url: '/UserRoleManage/UpdateRolesStatus',
                    data: JSON.stringify({ roleId: checkboxId, isStatus: isChecked }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (message) {
                        alert('Data Saved: ' + message);
                    },
                    error: function (message) {
                        checkbox.checked = originalChecked;
                        alert('Failed: ' + message);
                    }
                });
            });
        });

        function renameRole(roleid,roleoldname) {           
            $('#renameRoleWin').window('open');                      
            $('#renameRoleWin').window('setTitle', '重新命名角色 - ' + roleoldname);
                       
            $('#roleId').textbox('setValue', roleid);
            $('#roleOldName').textbox('setValue', roleoldname);
        }
        function submitForm() {
            $('#ff').form('submit', {
                url: '/UserRoleManage/RenameRole',
                onSubmit: function () {
                    // 檢查 roleOldName 和 roleNewName 是否相同
                    var roleOldName = $('#roleOldName').textbox('getValue');
                    var roleNewName = $('#roleNewName').textbox('getValue');

                    if (roleOldName === roleNewName) {
                        $.messager.alert('Error', 'The new role name cannot be the same as the old role name.', 'error');
                        return false; // 阻止表單提交
                    }

                    // 如果驗證通過，繼續進行表單驗證
                    return $(this).form('validate');
                  
                },
                success: function (response) {                    
                    var data = JSON.parse(response);

                    if (data.success) {                      
                        $.messager.alert('Success', data.message, 'info', function () {                            
                            // 成功後重新載入頁面
                            location.reload();
                        });
                    } else {                      
                        $.messager.alert('Error', data.message, 'error');
                    }
                },
                error: function (xhr, status, error) {                   
                    $.messager.alert('Error', 'An unexpected error occurred: ' + error, 'error');
                }
            });
        }

        function clearForm() {
            $('#ff').form('clear');
            $('#renameRoleWin').window('close');
        }
    </script>
    }



