<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NES Limited-@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @RenderSection("css", required: false)

    <link rel="stylesheet" type="text/css" href="~/Scripts/easyui/themes/bootstrap/easyui.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/easyui/themes/color.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/easyui/themes/icon.css" />
    <script src="~/Scripts/echart/echarts.js"></script>

    <style>
        /*整體網頁滿版*/
        body {
            margin: 0;
            padding: 0;
        }

        .container {
            width: 100vw;
            height: 98vh;
            margin: 0;
            padding: 0;
        }

            .container .top-content {
                height: 50px;
                margin: 0;
                padding: 0;
            }

        .navbar-default {
            background-color: #7BE0AD; /* 設定背景色 */
            color: #000000; /* 文字顏色 */
            margin: 0;
            padding: 0;
        }

        .container-fluid {
            display: flex;
            align-items: center;
        }
        /* 設定每個div的寬度 */
        .nav1 {
            width: 10%; /* 例如20%的寬度 */
        }

        .nav2 {
            width: 70%; /* 例如60%的寬度 */
        }

        .nav3 {
            width: 20%; /* 例如20%的寬度 */
        }
        /* 導航條文字和項目的基本風格 */
        .navbar-nav > a,
        .navbar-nav > li > a {
            color: #000000; /* 文字顏色 */
            padding: 5px;
        }

        /* 鼠標懸停在項目上時的樣式 */
        .navbar-nav > li:hover > a,
        .navbar-nav > li.dropdown.open > a {
            background-color: #E7E5E5; /* 滑鼠移至項目上的背景色 */
            color: #000000; /* 滑鼠移至時的文字顏色 */
        }

        /* 下拉選單的背景顏色 */
        .navbar-nav .dropdown-menu {
            background-color: #AEE5D8; /* 下拉選單的背景色 */
        }

            /* 下拉選單中的連結樣式 */
            .navbar-nav .dropdown-menu li a {
                color: #000000; /* 下拉選單文字顏色 */
            }

                /* 鼠標懸停在下拉選單項目上時 */
                .navbar-nav .dropdown-menu li a:hover {
                    background-color: #E7E5E5; /* 滑鼠移至下拉選單項目上的背景色 */
                    color: #000000; /* 滑鼠移至下拉選單項目上的文字顏色 */
                }


        .container .body-content {
            height: calc(100vh - 80px);
            margin: 0;
            padding: 0;
        }

        .container .footer-content {
            height: 20px;
            margin: 0;
            padding: 0;
        }

        /* 按鈕設計 */
        .btn-34,
        .btn-34 *,
        .btn-34 :after,
        .btn-34 :before,
        .btn-34:after,
        .btn-34:before {
            border: 0 solid;
            box-sizing: border-box;
            padding: 0;
        }

        .btn-34 {
            -webkit-tap-highlight-color: transparent;
            -webkit-appearance: button;
            background-color: #E0B0D5;
            background-image: none;
            color: #000000;
            cursor: pointer;
            font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
            font-size: 100%;
            font-weight: 900;
            line-height: 1.5;
            margin: 0;
            padding-left: 50px;
            padding-right: 50px;
            text-transform: uppercase;
        }

            .btn-34:disabled {
                cursor: default;
            }

            .btn-34:-moz-focusring {
                outline: auto;
            }

            .btn-34 svg {
                display: block;
                vertical-align: middle;
            }

            .btn-34 [hidden] {
                display: none;
            }

        .btn-34 {
            border-radius: 99rem;
            border-width: 2px;
            overflow: hidden;
            position: relative;
        }

            .btn-34:hover {
                background-color: #E5D0E3;
                transform: scale(1.1);
            }

            .btn-34 span {
                font-weight: 900;
                mix-blend-mode: difference;
            }

            .btn-34:before {
                aspect-ratio: 1;
                background: #E5D0E3;
                border-radius: 50%;
                content: "";
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: width 0.2s;
                width: 0;
            }

            .btn-34:hover:before {
                width: 100%;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="rwo top-content">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header  nav1">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("NES Limited", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse nav2">
                        <ul class="nav navbar-nav">
                            <li>
                                @*儀錶板*@
                                <a href="@Url.Action("Index", "Home")">
                                    @Resources.Content.Instrument
                                </a>
                            </li>
                            <li>
                                @* 流程圖 *@
                                <a href="@Url.Action("Workflow", "Home")">
                                    @Resources.Content.Workflow
                                </a>
                            </li>
                            <!--<li class="dropdown">-->
                            @*會計設定*@
                            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    @Resources.Content.AccSet
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        會計科目設定
                                        <a href="@Url.Action("AccTitle", "AccSet")">
                                            @Resources.Content.AccCodeSet MX
                                        </a>
                                    </li>
                                    <li>
                                        會計科目設定
                                        <a href="@Url.Action("AccCodeSet", "AccCode")">
                                            @Resources.Content.AccCodeSet
                                        </a>
                                    </li>
                                    <li>
                                        科目類別設定
                                        <a href="@Url.Action("AccGroupNoSet", "AccCode")">
                                            @Resources.Content.AccGroupNoSet
                                        </a>
                                    </li>
                                    <li>
                                        權益科目類別設定
                                        <a href="@Url.Action("EquityCodeSet", "AccCode")">
                                            @Resources.Content.EquityCodeSet
                                        </a>
                                    </li>
                                    <li>
                                        傳票類別設定
                                        <a href="@Url.Action("VoucherCodeSet", "AccCode")">
                                            @Resources.Content.VoucherCodeSet
                                        </a>
                                    </li>
                                    <li>
                                        會計系統基本設定
                                        <a href="@Url.Action("", "")">
                                            @Resources.Content.AccSysCodeSet
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        會計項目一覽表
                                        <a href="@Url.Action("", "")">
                                            @Resources.Content.AccReport
                                        </a>
                                    </li>
                                </ul>
                            </li>-->

                            <li class="dropdown">
                                @*傳票作業*@
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    @Resources.Content.VoucherOperation
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @*傳票輸入作業*@
                                        <a href="@Url.Action("VoucherCreate", "Voucher")">
                                            @Resources.Content.VoucherCreate
                                        </a>
                                    </li>
                                    <li>
                                        @*傳票審核作業*@
                                        <a href="@Url.Action("VoucherCheck", "Voucher")">
                                            @Resources.Content.VoucherReview
                                        </a>
                                    </li>
                                    <li>
                                        @*傳票結案作業*@
                                        <a href="@Url.Action("VoucherClose", "Voucher")">
                                            @Resources.Content.VoucherClose
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        @*傳票期初作業*@
                                        <a href="@Url.Action("VoucherBeginning", "Voucher")">
                                            @Resources.Content.VoucherBeginning
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--<li class="dropdown">-->
                            @* 調整分錄 *@
                            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    @Resources.Content.AJE
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                </ul>
                            </li>-->
                            <li class="dropdown">
                            @* 報表 *@
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    @Resources.Content.FinanceReport
                                    <span class="caret"></span>
                                </a>
                            <ul class="dropdown-menu">
                                <li>
                                    @*傳票報表*@
                                    <a href="@Url.Action("Voucher", "ReportView")">
                                        @Resources.Content.VoucherReport
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    @*日記帳*@
                                    <a href="@Url.Action("Journal", "ReportView")">
                                        @Resources.Content.Journal
                                    </a>
                                </li>
                                <li>
                                    @*明細分類帳*@
                                    <a href="@Url.Action("SubsidiaryLedger", "ReportView")">
                                        @Resources.Content.SubsidiaryLedger
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    @*資產負債表*@
                                    <a href="@Url.Action("BalanceSheet", "ReportView")">
                                        @Resources.Content.BalanceSheet
                                    </a>
                                </li>
                                <li>
                                    @*資產負債表-帳戶式*@
                                    <a href="@Url.Action("BalanceSheetAcc", "ReportView")">
                                        @Resources.Content.BalanceSheetAcc
                                    </a>
                                </li>
                                <li>
                                    @*損益表*@
                                    <a href="@Url.Action("IncomeStatement", "ReportView")">
                                        @Resources.Content.IncomeStatement
                                    </a>
                                </li>
                            </ul>
                            </li>
                            <li class="dropdown">
                                @* 系統設定 *@
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    @Resources.Content.SysSetting
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @*會計科目設定*@
                                        <a href="@Url.Action("AccTitle", "AccSet")">
                                            @Resources.Content.AccCodeSet
                                        </a>
                                    </li>
                                    <li>
                                        @*匯率設定*@
                                        <a href="@Url.Action("Rate", "AccSet")">
                                            @Resources.Content.RateSet
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                @*權限設定*@
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <label id="lblPermissionSetting">@Resources.Content.lblPermissionSetting</label>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">

                                    <li>
                                        <a href="@Url.Action("UsersList", "UserRoleManage")">
                                            @Resources.Content.SystemManagementUsers
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("RolesList", "UserRoleManage")">
                                            @Resources.Content.SystemManagementRoles
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                @*多語系*@
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <label id="lblMenuLanguage">@Resources.Content.lblMenuLanguage</label>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Home/ChangeLanguage?lang=en">English</a></li>
                                    <li><a href="~/Home/ChangeLanguage?lang=zh-TW">繁體中文</a></li>
                                    <li><a href="~/Home/ChangeLanguage?lang=es-MX">Español</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <div class="navbar-collapse collapse nav3">
                        <ul class="nav navbar-nav">
                            <li>
                                <a id="user" href="#" class="btn-34">
                                    <span class="">
                                        @if (Session["EmpNameC"] != null)
                                        {
                            <span class="marquee hidden-easy xs">
                                @Session["EmpNameC"]
                            </span>}
                                    </span>
                                </a>

                            </li>
                            <li>
                                <a href="/logout.aspx" class="btn-34">@Resources.Content.Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="rwo body-content">
            @RenderBody()
        </div>
        <div class="rwo footer-content">
            <div id="footer-inner" style="text-align: center; font-size: xx-small">
                Copyright © 2024 NES Limited Department All Right Reserved. | @Resources.Content.Contact:chris.c@nes-corporation.com                
            </div>
        </div>
        <div id="timeout" class="easyui-dialog" style="width:720px;height:180px;" title="@Resources.Content.Prompts" data-options="closed:true,modal:true,border:'thin'">
            <h2 style="margin:20px;padding:20px;">@Resources.Content.Notes</h2>
        </div>
        <div id="test-tip"></div>
    </div>

    <script>
        var defaultUrl = '@HttpContext.Current.Application["GlobalUrl"]';
        var timoutWarning = 300000;//5分鐘提醒
        var timoutNow = 360000;//6分鐘強制登出
        var logoutUrl = "@Url.Content("~/Home/TimeOut")";
        var warningTimer;
        var timeoutTimer;
        var testalerttip = '<div id="alerttip" style="position:fixed;left:0;top:0;width:220px;height:45px;margin:0px;padding:4px 0px 0px 30px;background-color:#f3f41b;color:#000000;font-size:2em;font-weight:bold;border-radius:0px 20px 20px 0px;">這是測試版</div>';

    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/easyui")
    <script>
        window.onload = function () {
            StartTimers();
            //onmousemove or onclick
            $('body').click(function () {
                ResetTimers();
            });
            let a = '@HttpContext.Current.Request.Url.Host';
            if (a != '192.168.50.8') {
                $('#test-tip').html(testalerttip);
            }
        };
        // Start timers.
        function StartTimers() {
            warningTimer = setTimeout("IdleWarning()", timoutWarning);
            timeoutTimer = setTimeout("IdleTimeout()", timoutNow);
        }
        // Reset timers.
        function ResetTimers() {
            clearTimeout(warningTimer);
            clearTimeout(timeoutTimer);
            StartTimers();
            $("#timeout").dialog('close');
        }
        // Show idle timeout warning dialog.
        function IdleWarning() {
            $("#timeout").dialog('open').dialog('center');
        }
        // Logout the user.
        function IdleTimeout() {
            window.location = logoutUrl;
        }
    </script>
    <script src="~/Scripts/myjs/myDatebox.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
