<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NES Limited-@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @RenderSection("css", required: false)

    <link rel="stylesheet" type="text/css" href="~/Scripts/easyui/themes/bootstrap/easyui.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/easyui/themes/color.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/easyui/themes/icon.css" />
    

    <!--Charisma Bootstrap-->
    @*<link rel="stylesheet" href="~/lib/Charisma/css/bootstrap-cerulean.min.css" />
        <link rel="stylesheet" href="~/lib/Charisma/css/charisma-app.css" />
        <link rel="stylesheet" href="~/lib/Charisma/css/bootstrap-cerulean.min.css" />
        <link rel="stylesheet" href="~/lib/Charisma/css/charisma-app.css" />*@

    <style>
        /*整體網頁滿版*/
        .container {
            width: 96vw;
            margin: 0 auto;
            padding: 0;
        }
        /*變更navbar底色*/
        .navbar {
            background-image: linear-gradient(#FC9A58, #F59657 60%, #DE874C);
        }

        .navbar-default {
            background-color: #0bf4d8;
            border-color: #0bf4d8;
        }

        /*變更navbar底色*/

        /*mousehover class*/
        .mousehover:hover {
            background-color: #09bea9 !important;
            /*背景顏色*/
            border-radius: 5px !important;
            /*圓外框*/
        }

        /*mousehover class*/

        /*登入者 hover*/
        #user:hover {
            background-color: #fff81f;
            /*背景顏色*/
            color: red;
            /*文字顏色*/
        }

        /*登入者 hover*/

        /*預設Button外框*/
        #user {
            border-radius: 5px;
            /*圓外框*/
        }

        /*基本作業下拉選單(使用CSS套版)*/
        #dropdownMenu1 {
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
            color: #ffffff;
            padding-top: 15px;
            padding-bottom: 15px;
            position: relative;
            display: block;
            padding: 10px 15px;
        }

            #dropdownMenu1:hover {
                cursor: pointer;
            }

        .dropdown-menu > li > a:hover {
            text-decoration: none;
            color: #ffffff;
            background-color: #09bea9 !important;
            /*背景顏色*/
        }

        .open > a {
            background-color: #09bea9 !important;
            /*背景顏色*/
            border-radius: 5px !important;
            /*圓外框*/
        }

        .dropdown-menu > li > a {
            padding: 5px 20px;
        }


        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            /* 設定頁腳的高度 */
            height: 20px;
            /* 頁腳的其他樣式 */
        }

        hr {
            margin-top: 5px; /* 减小上边距 */
            margin-bottom: 0px; /* 减小下边距 */
            border-top: 1px solid #000000; /* 调整边框的大小，这里是设置为1px并保持原有的颜色 */
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NES Limited", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@*作業流程圖*@
                        <a href="@Url.Action("Index", "Home")">
                            @Resources.Content.FlowChart
                        </a>
                    </li>
                    <li class="dropdown">@*會計設定圖*@
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            @Resources.Content.AccSet
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@*會計科目設定*@                               
                                <a href="@Url.Action("AccCodeSet", "AccCode")">
                                    @Resources.Content.AccCodeSet
                                </a>
                            </li>
                            <li>@*科目類別設定*@
                                <a href="@Url.Action("AccGroupNoSet", "AccCode")">
                                    @Resources.Content.AccGroupNoSet
                                </a>
                            </li>
                            <li>@*權益科目類別設定*@                       
                                <a href="@Url.Action("EquityCodeSet", "AccCode")">
                                    @Resources.Content.EquityCodeSet
                                </a>
                            </li>
                            <li>@*傳票類別設定*@ 
                                <a href="@Url.Action("VoucherCodeSet", "AccCode")">
                                    @Resources.Content.VoucherCodeSet
                                </a>
                            </li>
                            <li>@*會計系統基本設定*@ 
                                <a href="@Url.Action("", "")">
                                    @Resources.Content.AccSysCodeSet
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>@*會計項目一覽表*@
                                <a href="@Url.Action("", "")">
                                    @Resources.Content.AccReport
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">@*傳票作業*@
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">                            
                            @Resources.Content.VoucherOperation
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@*傳票輸入作業*@                                
                                <a href="@Url.Action("VoucherCreate", "Voucher")">
                                    @Resources.Content.VoucherCreate
                                </a>
                            </li>
                            
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">                           
                            @Resources.Content.AJE
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">                     
                            @Resources.Content.FinanceReport
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <label id="lblPermissionSetting">@Resources.Content.lblPermissionSetting</label>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @*<li>@Html.ActionLink("Resources.Content.SystemManagementUsers", "UsersList", "UserRoleManage")</li>
                            <li>@Html.ActionLink("Resources.Content.SystemManagementRoles", "RolesList", "UserRoleManage")</li>*@

                            <li>
                                <a href="@Url.Action("UsersList", "UserRoleManage")">
                                    @Resources.Content.SystemManagementUsers
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("RolesList", "UserRoleManage")">
                                    @Resources.Content.SystemManagementRoles
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <label id="lblMenuLanguage">@Resources.Content.lblMenuLanguage</label>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Home/ChangeLanguage?lang=en">English</a></li>
                            <li><a href="~/Home/ChangeLanguage?lang=zh-TW">繁體中文</a></li>
                            <li><a href="~/Home/ChangeLanguage?lang=es-MX">Español</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="nav navbar-nav navbar-right float-right text-right pr-3">
                            <li>
                                <a id="user" href="#">
                                    <i class="fa fa-user-circle text-olive" aria-hidden="true"></i>
                                    <span class="hidden-easy xs">
                                        @if (Session["EmpNameC"] != null)
                                        {
                                            <span class="hidden-easy xs">
                                                @Session["EmpNameC"]
                                            </span>
                                        }
                                    </span>
                                </a>
                            </li>
                            <li><a href="/logout.aspx"><i class="fa fa-arrow-circle-right text-fuchsia" aria-hidden="true"></i>登出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()      
        <footer>
            <hr />
            <div id="footer-inner" style="text-align: center; font-size: xx-small">
                Copyright © 2024 NES Limited Department All Right Reserved. | 聯絡:chris.c@nes-corporation.com
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/easyui")
    <script>
        var defaultUrl = '@HttpContext.Current.Application["GlobalUrl"]';
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
