<div class="header-toolbar">
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('first');" data-options="iconCls:'icon-large-first',size:'large',iconAlign:'top'">@Resources.Content.First</a>
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('previous');" data-options="iconCls:'icon-large-previous',size:'large',iconAlign:'top'">@Resources.Content.Previous</a>
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('next');" data-options="iconCls:'icon-large-next',size:'large',iconAlign:'top'">@Resources.Content.Next</a>
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('last');" data-options="iconCls:'icon-large-last',size:'large',iconAlign:'top'">@Resources.Content.Last</a>
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('search');" data-options="iconCls:'icon-large-select',size:'large',iconAlign:'top'">@Resources.Content.Search</a>
    <a href="#" class="separatorbar"></a>
    <a href="#" id="btnAdd" class="easyui-linkbutton linkbtn2 btnAdd" onclick="btnClick('add');" data-options="iconCls:'icon-large-add',size:'large',iconAlign:'top'">@Resources.Content.Add</a>
    <a href="#" id="btnEdit" class="easyui-linkbutton linkbtn2 btnEdit" onclick="btnClick('edit');" data-options="iconCls:'icon-large-edit',size:'large',iconAlign:'top'">@Resources.Content.Edit</a>
    <a href="#" id="btnSave" class="easyui-linkbutton linkbtn2 btnSave" onclick="btnClick('save');" data-options="iconCls:'icon-large-save',size:'large',iconAlign:'top'">@Resources.Content.Save</a>
    <a href="#" id="btnDetail" class="easyui-linkbutton linkbtn2 btnDetail" onclick="btnClick('detail');" data-options="iconCls:'icon-large-detail',size:'large',iconAlign:'top'">@Resources.Content.Detail</a>
    <a href="#" id="btnRefresh" class="easyui-linkbutton linkbtn2 btnRefresh" onclick="btnClick('refresh');" data-options="iconCls:'icon-large-refresh',size:'large',iconAlign:'top'">@Resources.Content.Refresh</a>
    <a href="#" id="btnCancel" class="easyui-linkbutton linkbtn2 btnCancel" onclick="btnClick('cancel');" data-options="iconCls:'icon-large-cancel',size:'large',iconAlign:'top'">@Resources.Content.Cancel</a>
    <a href="#" id="btnDelete" class="easyui-linkbutton linkbtn2 btnDelete" onclick="btnClick('delete');" data-options="iconCls:'icon-large-invalid',size:'large',iconAlign:'top'">@Resources.Content.Delete</a>
    <a href="#" class="separatorbar"></a>
    <a href="#" id="btnLock" class="easyui-linkbutton linkbtn2 btnlock" onclick="btnClick('lock');" data-options="iconCls:'icon-large-lock',size:'large',iconAlign:'top'">@Resources.Content.Lock</a>
    <a href="#" id="btnCheck" class="easyui-linkbutton linkbtn2 btncheck" onclick="btnClick('check');" data-options="iconCls:'icon-large-lock',size:'large',iconAlign:'top'">@Resources.Content.Check</a>
    <a href="#" id="btnClose" class="easyui-linkbutton linkbtn2 btnclose" onclick="btnClick('close');" data-options="iconCls:'icon-large-lock',size:'large',iconAlign:'top'">@Resources.Content.Close</a>
    <a href="#" id="btnUnlock" class="easyui-linkbutton linkbtn2 btnunlock" onclick="btnClick('unlock');" data-options="iconCls:'icon-large-unlock',size:'large',iconAlign:'top'">@Resources.Content.Unlock</a>
    <a href="#" id="btnReject" class="easyui-linkbutton linkbtn2 btnreject" onclick="btnClick('reject');" data-options="iconCls:'icon-large-reject',size:'large',iconAlign:'top'">@Resources.Content.Reject</a>
    <a href="#" class="separatorbar"></a>
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('report');" data-options="iconCls:'icon-large-report',size:'large',iconAlign:'top'">@Resources.Content.Report</a>
</div>
