
<div id="infotabs" class="easyui-tabs" style="width:100%;">
    <div title="ShowTable">@*顯示表單*@
        <table style="width:100%;">
            <tr>
                <th class="formtext">@Resources.Content.BillDate</th>
                <td class="formimport" colspan=2>
                    <input class="easyui-textbox colBillDate" style="width:90%;" readonly />

                </td>
                <th class="formtext">@Resources.Content.BillType</th>
                <td class="formimport" colspan=2>
                    <input class="easyui-textbox colDocSubType" style="width:45%;" readonly />
                    <input class="easyui-textbox colDocSubTypeName" style="width:45%;" readonly />
                </td>
                <th class="formtext">@Resources.Content.CompNo</th>
                <td class="formimport" colspan=2>
                    <input class="easyui-textbox colCompNo" style="width:45%;" readonly />
                    <input class="easyui-textbox colCompAbbr" style="width:45%;" readonly />
                </td>
            </tr>
            <tr>
                <th class="formtext">@Resources.Content.VoucherType</th>
                <td class="formimport" colspan=2>
                    <input class="easyui-textbox colVoucherType" style="width:45%;" readonly />
                    <input class="easyui-textbox colVoucherNameC" style="width:45%;" readonly />
                </td>
                <th class="formtext">@Resources.Content.EmpNo</th>
                <td class="formimport" colspan=5>
                    <input class="easyui-textbox colEmpNo" style="width:23%;" readonly />
                    <input class="easyui-textbox colEmpNameC" style="width:23%;" readonly />
                    <input class="easyui-textbox colDeptNo" style="width:23%;" readonly />
                    <input class="easyui-textbox colDeptName" style="width:23%;" readonly />
                </td>
            </tr>
            <tr>
                <th class="formtext">@Resources.Content.VoucherNo</th>
                <td class="formimport" colspan=2>
                    <input class="easyui-textbox colBillNo" style="width:90%;" readonly />
                </td>
                <th class="formtext">@Resources.Content.CurrencyNo</th>
                <td class="formimport" colspan=5>
                    <input class="easyui-textbox colCurrencyNo" style="width:18%;" readonly />
                    =
                    <input class="easyui-textbox colCurrencySt" style="width:18%;" readonly />
                    <input class="easyui-textbox colRate1" style="width:18%;" />
                    @*=
                    <input class="easyui-textbox colCurrency2" style="width:18%;" value="MXN" readonly />
                    <input class="easyui-textbox colRate2" style="width:18%;" />*@
                </td>
            </tr>
            <tr>
                <th class="formtext">@Resources.Content.VoucherSummary</th>
                <td class="formimport" colspan="8">
                    <input class="easyui-textbox colRemark" style="width:90%;" readonly />
                </td>
            </tr>
        </table>
    </div>
    <div title="FormTable">@*新增表單*@
        <form id="addForm">
            <table style="width:100%;">
                <tr>
                    <th class="formtext">@Resources.Content.BillDate</th>
                    <td class="formimport" colspan=2>
                        @*<input class="easyui-datebox fomBillDate" style="width:90%;" required />*@     
                        <input class="easyui-datebox fomBillDate" id="myDatebox" style="width:90%;" required />
                    </td>
                    <th class="formtext">@Resources.Content.BillType</th>
                    <td class="formimport" colspan=2>
                        <input class="easyui-combogrid fomDocSubType" style="width:45%;" required />
                        <input class="easyui-textbox fomDocSubTypeName" style="width:45%;" readonly />
                    </td>
                    <th class="formtext">@Resources.Content.CompNo</th>
                    <td class="formimport" colspan=2>
                        <input class="easyui-combogrid fomCompNo" style="width:45%;"  required/>
                        <input class="easyui-textbox fomCompAbbr" style="width:45%;" readonly />
                    </td>
                </tr>
                <tr>
                    <th class="formtext">@Resources.Content.VoucherType</th>
                    <td class="formimport" colspan=2>
                        <input class="easyui-combogrid fomVoucherType" style="width:45%;"  required/>
                        <input class="easyui-textbox fomVoucherNameC" style="width:45%;" readonly />
                    </td>
                    <th class="formtext">@Resources.Content.EmpNo</th>
                    <td class="formimport" colspan=5>
                        <input class="easyui-textbox fomEmpNo" style="width:23%;" readonly />
                        <input class="easyui-textbox fomEmpNameC" style="width:23%;" readonly />
                        <input class="easyui-textbox fomDeptNo" style="width:23%;" readonly />
                        <input class="easyui-textbox fomDeptName" style="width:23%;" readonly />
                    </td>
                </tr>
                <tr>
                    <th class="formtext">@Resources.Content.VoucherNo</th>
                    <td class="formimport" colspan=2>
                        <input class="easyui-textbox fomBillNo" style="width:90%;" readonly />
                    </td>
                    <th class="formtext">@Resources.Content.CurrencyNo</th>
                    <td class="formimport" colspan=5>
                        @*<input class="easyui-textbox fomCurrencyNo" style="width:18%;"  />*@
                        <input class="easyui-combobox fomCurrencyNo" style="width:18%;" data-options="
                            valueField: 'Id',
                            textField: 'Name',
                            url: '/Voucher/GetAddInfoCode40',
                            method: 'get',
                            panelHeight: 'auto',
                            onSelect: function(record) {   
                                    var selectedDate = $('#myDatebox').datebox('getValue');
                                    if (!selectedDate) {
                                        console.log('Please select a date before proceeding.');
                                        return;
                                    }
                                    $.ajax({
                                        url: '/Voucher/GetAddInfoCode41', 
                                        method: 'POST',
                                        data: { 
                                            currencyno: record.Id , 
                                            voucherdate:selectedDate 
                                        }, 
                                        success: function(response) {                                               
                                           $('.fomRate1').textbox('setValue', response.data.Rate);
                                        // $('.fomRate2').textbox('setValue', response.Rate);                                         
                                        },
                                        error: function(xhr, status, error) {
                                            console.log('Error processing id:', error);
                                        }
                                    });
                            }" />
                        =
                        <input class="easyui-textbox fomCurrencySt" style="width:18%;" readonly />
                        <input class="easyui-numberbox fomRate1" style="width:18%;" data-options="precision:3,decimalSeparator:'.'" />
                        @*=
        <input class="easyui-textbox fomCurrency2" style="width:18%;" value="MXN" readonly />
        <input class="easyui-textbox fomRate2" style="width:18%;" readonly/>*@
                    </td>
                </tr>
                <tr>
                    <th class="formtext">@Resources.Content.VoucherSummary</th>
                    <td class="formimport" colspan="8">
                        <input class="easyui-textbox fomRemark" style="width:90%;"  />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
