
<div id="advtabs" class="easyui-tabs" style="width:100%;">
    <div title="ShowAdv">@*顯示表單*@
        <table style="width:100%;">
            <tr>
                <th class="formtext">@Resources.Content.AccBookType</th>
                <td class="formimport" colspan=2>
                    <input class="easyui-textbox colLedger" style="width:90%;" readonly />
                </td>
                <th class="formtext">@Resources.Content.CompNo</th>
                <td class="formimport" colspan=2>
                    <input class="easyui-textbox colCompNo" style="width:45%;" readonly />
                    <input class="easyui-textbox colCompAbbr" style="width:45%;" readonly />
                </td>
            </tr>
            <tr>
                <th class="formtext">@Resources.Content.AdjustmentAccount</th>
                <td class="formimport" colspan=2>
                    <input class="easyui-textbox colAccDocType" style="width:90%;" readonly />
                </td>
                <th class="formtext">@Resources.Content.SourceDocSubTypeName</th>
                <td class="formimport" colspan=2>
                    <input class="easyui-textbox colSourceDocSubTypeName" style="width:90%;" readonly />

                </td>
            </tr>
            <tr>
                <th class="formtext">@Resources.Content.ActivityType</th>
                <td class="formimport" colspan=2>
                    <input class="easyui-textbox colActivityType" style="width:90%;" readonly />
                </td>
                <th class="formtext">@Resources.Content.SourceNo</th>
                <td class="formimport" colspan=2>
                    <input class="easyui-textbox colSourceNo" style="width:90%;" readonly />
                </td>
            </tr>
        </table>
    </div>
    <div title="FormAdv">@*新增表單*@
        <form id="addAdv">
            <table style="width:100%;">
                <tr>
                    <th class="formtext">@Resources.Content.AccBookType</th>
                    <td class="formimport" colspan=2>
                        <input class="easyui-combobox fomLedger" style="width:90%;" required />
                    </td>
                    <th class="formtext">@Resources.Content.CompNo</th>
                    <td class="formimport" colspan=2>
                        <input class="easyui-textbox fomCompNo" style="width:45%;" readonly />
                        <input class="easyui-textbox fomCompAbbr" style="width:45%;" readonly />
                    </td>
                </tr>
                <tr>
                    <th class="formtext">@Resources.Content.AdjustmentAccount</th>
                    <td class="formimport" colspan=2>
                        <input class="easyui-combobox fomAccDocType" style="width:90%;" required />
                    </td>
                    <th class="formtext">@Resources.Content.SourceDocSubTypeName</th>
                    <td class="formimport" colspan=2>
                        <input class="easyui-textbox fomSourceDocSubTypeName" style="width:90%;" readonly />

                    </td>
                </tr>
                <tr>
                    <th class="formtext">@Resources.Content.ActivityType</th>
                    <td class="formimport" colspan=2>
                        <input class="easyui-combobox fomActivityType" style="width:90%;" required />
                    </td>
                    <th class="formtext">@Resources.Content.SourceNo</th>
                    <td class="formimport" colspan=2>
                        <input class="easyui-textbox fomSourceNo" style="width:90%;" readonly />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
