@*@Model NES_WEB_ACC.ViewModels.HomeBillInfoViewModel*@
@{
    ViewBag.Title = @Resources.Content.Instrument;
}


@section css {
    <style>
        .container-page {
            width: 100%;
            height: 100%;
            padding-left: 20px;
            padding-left: -20px;
            margin: 0px;
            border: 0px;
        }

            .container-page .indexpagerow1 {
                width: 98%;
                height: 28%;
                display: flex;
                justify-content: space-around;
                align-items: center; /* 使子元素垂直置中，可以根據需要調整 */
            }

            .container-page indexpagerow2 {
                width: 98%;
                height: 68%;
                display: flex;
                justify-content: space-around;
                align-items: center; /* 使子元素垂直置中，可以根據需要調整 */
            }

        .card {
            margin: 5px;
            background-color: white;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

            .card h2 {
                font-size: 36px;
                margin: 10px 0;
            }

            .card.card1 {
                background-color: #AEE5D8;
            }

            .card.card2 {
                background-color: #E7E5E5;
            }

            .card.card3 {
                background-color: #E5D0E3;
            }

            .card.card4 {
                background-color: #E0B0D5;
            }

        .card2 {
            margin: 5px;
            background-color: white;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>
}

<div class="container-page">
    <div class="row indexpagerow1">
        <div class="col-md-3 card card1">
            <p>總筆數：</p>
            <h2>@Model.Total</h2>
        </div>
        <div class="col-md-3 card card2">
            <p>未覆核：</p>
            <h2>@Model.Uncheck</h2>
        </div>
        <div class="col-md-3 card card3">
            <p>已覆核，待審查：</p>
            <h2>@Model.UnRecheck</h2>
        </div>
        <div class="col-md-3 card card4">
            <p>已審查，待結案：</p>
            <h2>@Model.Unclose</h2>
        </div>
    </div>
    <div class="row indexpagerow2">
        <div class="row card2">
            <div id="myChart" style="width: 600px;height:400px;"></div>
        </div>
    </div>

</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetEchartData", "Home")', 
                type: 'GET',
                dataType: 'json',
                success: function (data) {                   
                    var myChart = echarts.init(document.getElementById('myChart'));
                                       
                    var option = {
                        title: {
                            text: '近3月匯率走勢圖',                           
                            left: 'left'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            }
                        },
                        legend: {
                            data: ['TWD', 'USD', 'MXN']                            
                        },
                        xAxis: {
                            type: 'category',
                            data: data.xAxis
                        },
                        yAxis: [
                            {
                                type: 'value',  
                                name: 'TWD & MXN',
                                min: 0,
                                max: 2,        
                                position: 'left'
                            },
                            {
                                type: 'value',  
                                name: 'USD',
                                min: 0,
                                max: 20,       
                                position: 'right'
                            }
                        ],
                        series: [
                            {
                                name: 'TWD', 
                                data: data.series1, 
                                type: 'line',
                                yAxisIndex: 0 
                            },
                            {
                                name: 'USD', 
                                data: data.series2, 
                                type: 'line',
                                yAxisIndex: 1
                            },
                            {
                                name: 'MXN', 
                                data: data.series3,
                                type: 'line',
                                yAxisIndex: 0 
                            }
                        ]
                    };
                                        
                    myChart.setOption(option);
                },
                error: function (xhr, status, error) {
                    console.error('Error: ' + error);
                }
            })
        })       
    </script>

}
